
@import url("https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Poppins:wght@100;200;300;400&display=swap");

/*font-family: 'Actor', sans-serif;
    font-family: 'Adamina', serif;
    font-family: 'Poppins', sans-serif;
    
    Button Color 1 = #FFAC12-+
    Texts = #FAFF00
    Font type: Poppins,  Actor, Adamina*/

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    
/* Navbar Section */
    .navbar{
        display: flex;
        justify-content: space-around;
        height: 11vh;
        padding-top: 20px;
        background-color: black;
    }
    
    .navItem{
        display: inline;
        justify-content: space-around;
        margin: 25px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        padding-top: 50px;
    }

    .navItem a{
        color: #fff;
        list-style: none;
        text-decoration: none;
        
    }  

    .navItem a:hover{
        color: #FFAC12;
        list-style: none;
        text-decoration: none;
    }

    .logo > h1 > a{
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.1rem;
    }

    .portfolio{
        color: #FFAC12;
    }

    .navLink > .navItem > a{
        list-style: none;
    }

    .btn1{
        padding: 7px;
        width: 110px;
        border: none;
        background-color: #FFAC12;
        font-size: large;
        color: #fff;
        border-radius: 6px;
    }

    .btn1:hover{
        background-color: #fff;
        color: #000;
    }

/* Hero Section */
    .hero{
        display: flex;
        justify-content: space-around;
        background-image: url(../img/bg.jpg);
        background-size: cover;
        height: 80vh;
        margin-bottom: 50px;
    }

    .heroContainer{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;

    }

    
    .heroLeft{
        margin-top: 110px;
    }

    .heroRight{
        margin-top: 90px;
    }

    .heroRight > img{
        border-radius: 50%;
    }

    .heroLeftTop > h1, h4{
        color: #fff;
        margin: 30px;
    }

    .rolesInfo{
        color: #FFAC12;
        margin-right: 15px;
        letter-spacing: 0.1rem;
    }

    .rolesInfo1{
        color: #fff;
        margin-right: 15px;
    }

    .titleIntro{
        letter-spacing: 0.1rem;
        color: #FFAC12;
    }

    .titleName{
        letter-spacing: 0.2rem;
    }

    .heroLeftBottom{
        display: flex;
        width: 300px;
    }

    .btn2{
        padding: 9px;
        width: 100px;
        border: none;
        background-color: #FFAC12;
        font-size: large;
        color: #fff;
        border-radius: 6px;
        margin-right: 20px;
        margin-left: 30px;
    }

    .btn2:hover{
        background-color: #fff;
        color: #000;
    }

    .btn4{
        padding: 10px;
        width: 120px;
        border: none;
        background-color: #000;
        font-size: large;
        color: #FFAC12;
        margin-right: 20px;
    }

    .btn4:hover{
        background-color: #fff;
        color: #000;
        border: #FFAC12 2px solid;
    }

/* Footer Section */
   .footer{
       display: flex;
       background-color: #000;
       height: 10vh;
       justify-content: space-around;
       color: #fff;
       align-items: center;
       text-align: center;
   }
    
   .socialMedia a{
        margin: 10px;
        color: #fff;
   }

